<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">
    <script type="text/javascript" charset="utf-8" src="{% static 'index/slide/js/slide.js'%}"></script>
    <!-- <script type="text/javascript" charset="utf-8" src="{% static 'index/userOnline.js'%}"></script> -->
</head>

<body>
    <div class="header">
        <div class="logo">xxxx</div>
        <div class="login">
            <span class="registerSubmit" id="register">
                <a href="/register/">注册</a>
                <a href="/login/">登录</a>
            </span>
        </div>
        <div class="userOnline">
            <span class="registerSubmit">
                <a href="/mine/{{uid}}" id="username">{{username|default:"null"}}</a>
                <a href="/quit/" class="quit">退出</a>
            </span>
        </div>
    </div>

    <div class="nav">
        <div class="clear">
            <ul>
                <li>
                    <a href="">国内</a>
                    <a href="/military/">军事</a>
                    <a href="">生活</a>
                    <a href="">旅游</a>
                    <a href="">国际</a>
                    <a href="/science/">科技</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="middle">
        <div class="hotNews">
            <h2>实时新闻<span>(updated 15 minutes)</span></h2>
            <dl>
                <dt>xxxx</dt>
                <dd>xxxx</dd>
                <dt>yyyy</dt>
                <dd>yyyy</dd>
            </dl>
        </div>
        <div class="slidesPicture" id="container">
            <div id="list" style="left: -960px;">
                <img src="{% static 'pictures/three.jpg'%}" alt="1" />
                <img src="{% static 'pictures/four.jpg'%}" alt="2" />
                <img src="{% static 'pictures/five.jpeg'%}" alt="3" />
                <img src="{% static 'pictures/four.jpg'%}" alt="4" />
                <img src="{% static 'pictures/five.jpeg'%}" alt="5" />
            </div>
            <div id="buttons">
                <span index="1" class="on"></span>
                <span index="2"></span>
                <span index="3"></span>
                <span index="4"></span>
                <span index="5"></span>
            </div>
            <a href="javascript:;" id="prev" class="arrow">&lt;</a>
            <a href="javascript:;" id="next" class="arrow">&gt;</a>
        </div>
    </div>
    <div class="continent">
        <div class="east">
            <div class="africa">
                非洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
            <div class="asian">
                亚洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
            <div class="europe">
                欧洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="" class="clear">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
        </div>
        <div class="west">
            <div class="nAmerica">
                北美洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
            <div class="sAmerica">
                南美洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
            <div class="oceania">
                大洋洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
            <div class="antractica">
                南极洲新闻
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
                <p>
                    <strong>
                        xxx
                    </strong>
                    <a href="">jjj</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>xxxxxx版权所有</p>
    </div>

</body>
<script type="text/javascript" charset="utf-8" src="{% static 'index/userOnline.js' %}"></script>

</html>