<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login-page</title>
    {% load static from staticfiles %}
    {% block linkscript %}
    <script type="text/javascript" charset="utf-8" src="{% static 'code/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'mui-master/dist/css/mui.min.css' %}"> -->
    {% endblock linkscript %}
</head>

<body>
    <div class="header">
        <a href="/index/" class="logo">logo</a>
        <span class="pageTitle">
            <b>
                用户登录
            </b>
        </span>
        <span class="registerBar">
            <b>没有帐号，可以先注册！
                <a href="/register/">注册</a>
            </b>
            <b>
                <a href="/index/">回到首页</a>
            </b>
        </span>
    </div>
    <div class="middle">
        <div class="loginPage">
            <div class="loginFrame">
                <form action="/login/" method="POST" novalidate>
                    <span class="title">USER LOGIN</span>
                    <em class="loginError">{% if message %}<p>
                            <font color="red">*{{message}}</font>
                        </p>{% endif %}</em>
                    <!-- <span class="user">input-name</span>
                    <span class="password">input-password</span> -->
                    {{obj.as_ul}}
                    <div class="vefify">
                        <div class="input_code">
                            <label for="" class="verifyTitle">please input verify code:</label>
                            <input type="text" class="code">
                        </div>

                        <div class="verify_picture" id="verificationCode">
                            <canvas width="100px" height="100px" id="verifyCanvas"></canvas>
                            <img id="code_img">
                        </div>
                    </div>
                    <div class="input_class">
                        <input type="submit" value="Enter">
                        <input type="reset" name="" id="" value="reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="help">
            <a href="">广告服务</a>
            <b>|</b>
            <a href="">联系方式</a>
            <b>|</b>
            <a href="">服务条款</a>
            <b>|</b>
            <a href="">帮助</a>
            <b>|</b>
            <a href="">隐私政策</a>
            <b>|</b>
            <a href="">其他</a>
        </div>
        <div class="copyright">© xxxx版权所有</div>
    </div>
</body>
<script type="text/javascript" charset="utf-8" src="{% static 'code/code.js' %}"></script>
<!-- <script>console.log(verVal)</script> -->
</html>
