<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register-page</title>
    {% load static from staticfiles %}
   
    <link rel="stylesheet" type="text/css"  href="{% static 'register/register.css'%}">
    
</head> 
<body>
        <div class="header">
                <a href="/index/" class="logo">logo</a>
                <span class="pageTitle">
                    <b>
                        用户注册(Register)
                    </b>
                </span>
                <span class="registerBar">
                    <b>有了我们的网站了，那请登陆吧！！
                        <a href="/login/">登录</a>
                    </b>
                    <b>
                        <a href="/index/">回到首页</a>
                    </b>
                </span>
            </div>
            <div class="registerInformation">
                    <form action="/register/" method="POST" novalidate autocomplete="off">
                        {% csrf_token %}
                        <div class="autocomplete" style="width:300px">
                            {{obj.as_ul}}
                        </div>
                       <div>
                        <input type="submit" value="提交">
                        <input type="reset" value="重置">
                       </div>
                       
                    </form>
            </div>
            <div class="footer">
                    <div class="help">
                        <a href="">广告服务</a>
                        <b>|</b>
                        <a href="">联系方式</a>
                        <b>|</b>
                        <a href="">服务条款</a>
                        <b>|</b>
                        <a href="">帮助</a>
                        <b>|</b>
                        <a href="">隐私政策</a>
                        <b>|</b>
                        <a href="">其他</a>
                    </div>
                    <div class="copyright">© xxxx版权所有</div>
                </div>
</body>
<script type="text/javascript" charset="utf-8" src="{% static 'register/autoCountry.js'%}"></script>

</html>