body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
}
.title{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: red;
    text-align: center;
    font-size:60px;
    letter-spacing: 50%;
   

}
.middle{
    width: 100%;
    height: 500px;
    position: absolute;
}
.loginPage{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-color: blue;
    
    
}
.l{
    width: 30%;
    height: 400px;
    background-color: white;
    position: relative;
    top: 10%;
    left: 50%;
    overflow: hidden;   
}